/* Move block container higher */
div.block-container.css-18e3th9.egzxvld2 {
    margin-top: -3em;
}

img {
    display: block;
    margin-top: 1.5em;
}

/* Centering text in each gray box */

div.css-wnm74r.e16fv1kl3 {
    margin-left: 30%;
    margin-right: 20%;
}

/* Row */

div.css-ocqkz7.e1tzin5v4{
    padding: 1% 1% 1% 1%;
    
}
/*
    div.css-s9khlj.e1tzin5v2{
        padding: 2% 2% 2% 2%;
        background-color: #d8d8d8;
    }
*/



